---
import { getCollection } from 'astro:content';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Base from '../layouts/Base.astro';

const employer = 'HPE';
const employerSite = 'https://www.hpe.com';
const job = 'Software Engineer'
const blogTitle = 'Blog';

const posts = await getCollection("posts");

const publishedPosts = (posts).sort((a, b) =>
    new Date(b.data.pubDate).valueOf() -
    new Date(a.data.pubDate).valueOf())
  .filter((post) => !post.data.draft && !post.data.rssOnly);
---

<Base featuredimage="./../assets/media/headshot-0.png">
  <div class="home">
    <div class="hero">
      <img class="headshot" src="./../assets/media/headshot-4.jpeg" alt="">
      <h1 class="intro branded-text display">
        <small>Hi, my name is</small>
        <br/> Charles Villard.<br/> I code stuff.
      </h1>
    </div>
    <p>
      I'm a {job} at <a class="link" href={employerSite}>{employer}</a>, sometimes a public speaker, and a community organizer and moderator. I enjoy writing about UI tooling, front-end web development, design systems, static site generators, and JavaScript!
    </p>

    {
    publishedPosts.length !== 0 &&
      <section class="content" aria-label="Blog post list">
        <h2 class="latest display">{blogTitle}</h2>
        {publishedPosts.map((p) => <BlogPostPreview post={p} />)}
      </section>
    }
  </div>
</Base>
