---
import { getCollection } from 'astro:content';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Base from '../layouts/Base.astro';

let title = 'Charles Villard';
let employer = 'HPE';
let employerSite = 'https://www.hpe.com';
let job = 'Software Engineer'
let blogTitle = 'Blog';

const publishedPosts = (await getCollection("posts")).sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() -
    new Date(a.data.pubDate).valueOf()
).filter((post) => !post.data.draft && !post.data.rssOnly);
---

<Base title={title} featuredimage="./../assets/media/headshot-0.png">
  <div class="home">
    <div class="hero">
      <img class="headshot" src="./../assets/media/headshot-3.jpeg" alt="">
      <h1 class="intro branded-text display">
        <small>Hi, my name is</small>
        <br/> Charles Villard.<br/> I code stuff.
      </h1>
    </div>
    <p>
      I'm a {job} at <a class="link" href={employerSite}>{employer}</a>, an organizer and moderator for <a class="link" href="https://frontend.miami">Front End Miami</a>, and sometimes a public speaker. I enjoy writing about design systems, static site generators, and JavaScript!
    </p>

    {
    publishedPosts.length !== 0 &&
      <section class="content" aria-label="Blog post list">
        <h2 class="latest display">{blogTitle}</h2>
        {publishedPosts.map((p) => <BlogPostPreview post={p} />)}
      </section>
    }
  </div>
</Base>
