---
// Component Imports
import Base from '../layouts/Base.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import BaseLayout from '../layouts/Base.astro';
let title = 'Charles Villard';
let employer = 'HPE';
let employerSite = 'https://www.hpe.com';
let job = 'Software Engineer'


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let blogTitle = 'Writings';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
  <div class="home">
    <div class="hero">
      <div class="headshot" >
        <img src="/assets/headshot.png" class="headshot-image" alt="Photo of Charles Villard">
      </div>
      <section class="intro">
        <h1 class="branded-text home-branding">Hi there! <br/> I'm Charles Villard.</h1>
        <p>
          I'm a {job} at <a class="link" href={employerSite}>{employer}</a>, an organizer moderator for <a class="link" href="https://frontend.miami">Front End Miami</a>, and sometimes a public speaker. I enjoy writing about design systems, static site generators, JavaScript, CSS, and more! Welcome!
        </p>

      </section>
    </div>
    <section aria-label="Blog post list">
			<h2 class="latest">{blogTitle}</h2>
			{allPosts.map((p) => <BlogPostPreview post={p} />)}
		</section>
  </div>
</BaseLayout>
