---
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Base from '../layouts/Base.astro';

let title = 'Charles Villard';
let employer = 'HPE';
let employerSite = 'https://www.hpe.com';
let job = 'Software Engineer'
let blogTitle = 'Blog';

const publishedPosts = (await Astro.glob("./blog/posts/*.md")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
).filter((post) => !post.frontmatter.draft && !post.frontmatter.rssOnly);
---

<Base title={title} featuredimage="./../images/headshot.png">
  <div class="home">
    <div class="hero">
      <div class="headshot" >
        <img src="https://images.prismic.io/cdvblog/c3ed6091-78c9-47b4-8369-b570e1b70ada_Mask+Group.png?auto=compress,format" class="headshot-image" alt="Photo of Charles Villard" />
      </div>
      <section class="intro">
        <h1 class="branded-text display">
          <small>Hi, my name is</small>
          <br/>
          Charles Villard.
          <br/>
          I build websites.
        </h1>
        <p>
          I'm a {job} at <a class="link" href={employerSite}>{employer}</a>, an organizer moderator for <a class="link" href="https://frontend.miami">Front End Miami</a>, and sometimes a public speaker. I enjoy writing about design systems, static site generators, JavaScript, CSS, and more! Welcome!
        </p>

      </section>
    </div>

    {
    publishedPosts.length !== 0 &&
      <section aria-label="Blog post list">
        <h2 class="latest display">{blogTitle}</h2>
        {publishedPosts.map((p) => <BlogPostPreview post={p} />)}
      </section>
    }
  </div>
</Base>
