---
export interface Props {
	title: string;
	description: string;
	permalink: string;
}
const { title, description, permalink } = Astro.props;

const pageTitle = title || 'Charles Villard';
const pageDescription = description || 'Devlog and portfolio of Charles Villard, software engineer';
const pagePermalink = permalink || import.meta.env.SITE;
---
	<!-- Global Metadata -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
	<link rel="manifest" href="/site.webmanifest?v=1">
	<link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#663399">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=1">
	<meta name="msapplication-TileColor" content="#f1f3f5">
	<meta name="theme-color" content="#f1f3f5">
	<!-- Primary Meta Tags -->
	<title>{pageTitle}</title>
	<meta name="title" content={pageTitle} />
	<meta name="description" content={pageDescription} />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content={pagePermalink} />
	<meta property="og:title" content={pageTitle} />
	<meta property="og:description" content={pageDescription} />
	<!-- <meta property="og:image" content="https://astro.build/social.png?v=1" /> -->

	<!-- Twitter -->
	<!-- <meta property="twitter:card" content="summary_large_image" /> -->
	<meta property="twitter:url" content={pagePermalink} />
	<meta property="twitter:title" content={pageTitle} />
	<meta property="twitter:description" content={pageDescription} />
	<!-- <meta property="twitter:image" content="https://astro.build/social.png?v=1" /> -->

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com" />

	<!-- Prismic preview -->
	<script async defer src="https://static.cdn.prismic.io/prismic.js?new=true&repo=cdvblog"></script>
