---
export interface Props {
	title?: string;
	description?: string;
	permalink?: string;
	featuredimage?:string;
}
const {
	title,
	description = 'Devlog and portfolio of Charles Villard, software engineer',
	permalink = import.meta.env.SITE,
	featuredimage = "https://images.prismic.io/cdvblog/55fc6926-399b-4cdb-bad8-0f174d607943_headshot.png?auto=compress,format"
} = Astro.props;

const pageTitle = title;
const pageDescription = description;
const pagePermalink = permalink;
---
	<!-- Global Metadata -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
	<link rel="manifest" href="/site.webmanifest?v=1">
	<link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#663399">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=1">
	<meta name="msapplication-TileColor" content="#f1f3f5">
	<meta name="theme-color" content="#f1f3f5">
	<!-- Primary Meta Tags -->
	<title>{pageTitle && `${pageTitle} | `}Charles Villard</title>
	<meta name="title" content={pageTitle} />
	<meta name="description" content={pageDescription} />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content={pagePermalink} />
	<meta property="og:title" content={pageTitle} />
	<meta property="og:description" content={pageDescription} />
	<meta property="og:image" content={featuredimage} />

	<!-- Twitter -->
	<!-- <meta property="twitter:card" content="summary_large_image" /> -->
	<meta property="twitter:url" content={pagePermalink} />
	<meta property="twitter:title" content={pageTitle} />
	<meta property="twitter:description" content={pageDescription} />
	<meta property="twitter:image" content={featuredimage} />

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com" />

	<!-- Dark mode script borrowed from Chris Coiyer -->
	<!-- https://chriscoyier.net/2023/01/19/dark-mode-via-a-smallish-script-in-the-head-avoiding-fart/ -->
	<script>
		const COOKIE_NAME = 'darkmode';

		// Variable to prepare for unchecking the checkbox if the user prefers light mode.
		let uncheckBox = false;
		function disableDarkMode() {
			document.documentElement.classList.remove('dark-mode');
			document.documentElement.style.colorScheme = 'light';
			document.cookie = `${COOKIE_NAME}=false; expires=Fri, 31 Dec 9999 23:59:59 GMT;"`

		}
		function enableDarkMode() {
			document.documentElement.classList.add('dark-mode');
			document.documentElement.style.colorScheme = 'dark';
			document.cookie = `${COOKIE_NAME}=true; expires=Fri, 31 Dec 9999 23:59:59 GMT;"`
		}

		// If the user has the dark mode cookie, respect the cookie.
		if (document.cookie.split(';').some((item) => item.trim().startsWith(`${COOKIE_NAME}=true`))) {
			enableDarkMode();

		// If the user has the light mode cookie, respect the cookie.
		} else if (document.cookie.split(';').some((item) => item.trim().startsWith(`${COOKIE_NAME}=false`))) {
			disableDarkMode();
			uncheckBox = true;
		// If the user doesn't have the cookie, then check the system preferences.
	} else {
			// If the user prefers dark mode, or doesn't care, enable dark mode.
			if (window.matchMedia && (window.matchMedia('(prefers-color-scheme: dark)').matches || window.matchMedia('(prefers-color-scheme: no-preference)').matches)) {
				enableDarkMode();
				// User prefers light mode via system preferences.
			} else {
				disableDarkMode();
			}
		}
		// Gotta wait to do DOM stuff until DOM is ready
		addEventListener('DOMContentLoaded', (event) => {
			// window.darkMode is the <input type="checkbox" />
			window.darkMode.addEventListener("click", () => {
				if (window.darkMode.checked) {
					enableDarkMode();
				} else {
					disableDarkMode();
				}
			});
			// Make sure the UI reflects the current state.
			if (uncheckBox) {
				window.darkMode.checked = false;
			}
		});
	</script>