---
import dayjs from 'dayjs';
import customParseFormat from 'dayjs/plugin/customParseFormat';
import * as prismicH from "@prismicio/helpers";
import Image from "../slices/Image/Image.astro";
import Author from './Author.astro';

dayjs.extend(customParseFormat)

export interface HeroImage {
	alt: string;
	url: string;
}

export interface Props {
	title: [];
	author: string;
	authorLink: string;
	publishDate: string;
	heroImage: HeroImage;
}

const { props } = Astro;
const { title, publishDate, heroImage, author, authorLink } = props;

const formattedDate = dayjs(publishDate).format('MMMM D, YYYY');
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				<Fragment set:html={prismicH.asHTML(title)} />
				<p class="publish-date">{formattedDate}</p>
				<Author name={author} href={authorLink} />
			</header>
			<main>
				{heroImage &&
					<Image heroImage={heroImage}/>
				}
				<slot/>
			</main>
		</div>
	</article>
</div>

<style>
	.content header {
		padding-bottom: 0;
	}
	.hero-image {
		width: 100%;
		object-fit: cover;
		object-position: bottom;
		margin-top: 2rem;
		max-width: 1280px;
	}

	.caption {
		font-size: .85rem;
		text-decoration: ;
	}

	@media (max-width: 50em) {
		.hero-image {
			height: 260px;
			margin-top: 0;
		}
	}

</style>
