---
import DateTime from './DateTime.astro';
import Author from './Author.astro';

export interface Props {
	title: string;
	author: string;
	authorLink: string;
	publishDate: string;
	featuredImage: string;
	featuredImageAlt: string;
}

const { title, publishDate, featuredImage, featuredImageAlt, author, authorLink } = Astro.props;
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				<h1>{title}</h1>
				<DateTime date={publishDate} />
				<Author name={author} href={authorLink} />
			</header>
			<main>
				{featuredImage &&
					<figure>
						<img
							class="hero-image"
							src={featuredImage}
							width="100%"
							height="auto"
							alt={featuredImageAlt}
						/>
						<figcaption class="caption">
							<em>{featuredImageAlt}</em>
						</figcaption>
					</figure>
				}
				<slot/>
			</main>
		</div>
	</article>
</div>

<style>
	.content header {
		padding-bottom: 0;
	}
	.hero-image {
		width: 100%;
		object-fit: cover;
		object-position: bottom;
		margin-top: 2rem;
		max-width: 1280px;
	}

	.caption {
		font-size: .85rem;
		text-decoration: ;
	}

	@media (max-width: 50em) {
		.hero-image {
			height: 260px;
			margin-top: 0;
		}
	}

</style>
