---
import * as prismicH from "@prismicio/helpers";

import Author from './Author.astro';

export interface HeroImage {
	alt: string;
	url: string;
}

export interface Props {
	title: [];
	author: string;
	authorLink: string;
	publishDate: string;
	heroImage: HeroImage;
}

const { props } = Astro;
const { title, publishDate, heroImage, author, authorLink } = props;
const { alt, url } = heroImage;
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				<Fragment set:html={prismicH.asHTML(title)} />
				<p class="publish-date">{publishDate}</p>
				<Author name={author} href={authorLink} />
			</header>
			<main>
				{heroImage &&
					<figure>
						<img class="hero-image" src={url} alt={alt} />
						<figcaption class="caption">
							<em>{alt}</em>
						</figcaption>
					</figure>
				}
				<slot/>
			</main>
		</div>
	</article>
</div>

<style>
	.content header {
		padding-bottom: 0;
	}
	.hero-image {
		width: 100%;
		object-fit: cover;
		object-position: bottom;
		margin-top: 2rem;
		max-width: 1280px;
	}

	.caption {
		font-size: .85rem;
		text-decoration: ;
	}

	@media (max-width: 50em) {
		.hero-image {
			height: 260px;
			margin-top: 0;
		}
	}

</style>
