---
import DateTime from './DateTime.astro';
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<div class="post-preview">
	<small class="publish-date">
		<DateTime date={post.frontmatter.pubDate} />
	</small>
	<h3 class="title"><a href={post.url}>{post.frontmatter.title}</a></h3>
	<p>{post.frontmatter.description}</p>
	<div>
		<a href={post.url}>Read more</a>
	</div>
</div>
