---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="post-preview">
	<header>
		<time class="publish-date" datetime={post.date}>
			{new Date(post.date).toLocaleDateString("en-us", {
				year: "numeric",
				month: "short",
				day: "numeric",
			})}
		</time>
		<a href={post.url}><h3 class="title">{post.title}</h3></a>
	</header>
	{
		post.description &&
		<p>{post.description}</p>
	}
	<a href={post.url}>Read more</a>
</article>
