---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<div class="post-preview">
	<small class="publish-date">
		<time datetime={post.date}>
			{new Date(post.date).toLocaleDateString("en-us", {
				year: "numeric",
				month: "short",
				day: "numeric",
			})}
		</time>
	</small>
	<h3 class="title"><a href={post.url}>{post.title}</a></h3>
	<p>{post.description}</p>
	<div>
		<a href={post.url}>Read more</a>
	</div>
</div>
