---
import DateTime from './DateTime.astro';
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<div class="post-preview">
	<small class="publish-date">
		<DateTime date={post.data.pubDate} />
	</small>
		<h3 class="title"><a href={`blog/${post.slug}`}>{post.data.title}</a></h3>
		<p>{post.data.description}</p>
	<div>
		<a href={`blog/${post.slug}`}>Read more</a>
	</div>
</div>
