---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="post-preview">
	<header>
		<a href={post.url}><h3 class="title">{post.title}</h3></a>
	</header>
	<p>{post.description}</p>
	<time class="publish-date" datetime={post.date}>
		{new Date(post.date).toLocaleDateString("en-us", {
			year: "numeric",
			month: "short",
			day: "numeric",
		})}
	</time>
	<a href={post.url}>Read more</a>
</article>
